$fooColor: #00d8ff;

.App {
  height: 100%;
  min-height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.App-flex {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-heading {
  background-color: #222;
  color: #f8f8f8;
  font-size: 6vh;
  box-shadow: 0px 4px 4vh 4px rgba(34, 34, 34, 0.9);
  z-index: 2;
}

.App-react {
  color: $fooColor;
  text-decoration: overline underline;
}

.App-instructions {
  background-color: #f8f8f8;
  color: #222;
  font-size: 3vh;
  line-height: 1.5;
  padding: 0 1em;
}

.App-instructions code {
  background-color: #222;
  color: $fooColor;
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
}
